/* Basic Body Structure - Fixedstyle 1.0, based on Solarized Dark 2.0, based on Solarized Dark 1.0, based on Sapientia 1.3 */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	word-wrap: break-word;
}

@font-face {
    font-family: "FixedsysExcelsiorIIIb-L2";
    src: url(fonts/FixedsysExcelsior/FSEX301-L2.ttf);
}

body {
	color: #9a9a9a;
	height: 100%;
 	z-index: 100;
	font-size: 16px !important;
	overflow: hidden;
	overflow-y: visible;
	background-image: url("imagedoc-darknoise.png");
	font-family: "FixedsysExcelsiorIIIb-L2" !important;
	-webkit-font-smoothing: antialiased;
}

body .message {
	line-height: 17px;
}

b {
	text-shadow: 0 0 2px;
	font-weight: 400;
}

i {
	-webkit-font-smoothing: antialiased;
}

body div#body_home {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	max-height: 99.99%;
	position: absolute;
	opacity: 0; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

body[viewtype=channel] div#body_home {
	max-height: 96.5%;
}

body .line {
 	margin-top: auto;
 	margin-bottom: auto;
	clear: both;
}

body[dir=rtl] .sender {
	display: inline-block;
}

/* Loading Screen */

body div#loading_screen {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -11px;
	margin-left: -150px;
	width: 300px;
	height: 21px;
	background: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.32);
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	opacity: 1; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

/* Time */

body[dir=ltr] .time {
	color: rgba(255, 255, 255, 0.3);
	white-space: nowrap; 
	font-family: "Monaco";
	font-size: 10;
	-webkit-font-smoothing: none;
	padding-left: 0.3em;
}

body[dir=rtl] .time {
	color: rgba(255, 255, 255, 0.3);
	white-space: nowrap; 
	padding-left: 0.3em;
	display: inline-block;
}

/* Encryption Lock */

.encryptionLock img {
	float: right;
	margin: 0;
	padding: 0;
	height: 11px;
	margin-top: 2px;
	padding-left: 10px;
}

/* Links */

a {
	color: #9a9a9a;
	border-color: #9a9a9a;
	text-decoration: none;
	border-bottom: dotted 1px;
}

a:hover {
	color: #F0F0F0;
}

/* Topic Bar */

#topic_bar {
	top: 0;
	left: 0;
	right: 0;
	color: #ddd;
	z-index: 400;
	opacity: 0; /* Set by JavaScript */
	/*line-height: 145%;*/
	position: fixed;
	background: -webkit-linear-gradient(top, #5C636C, #474C53);
	padding: 2px 0.5em 3px;
	border-bottom: 1px solid #000;
	-webkit-box-shadow: 0 1px 5px #000;
	-webkit-transition: opacity 0.8s linear;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Topic bar hover additions contributed with permission from the project:
	<https://github.com/hbang/Simplified-Light-Modifications> */

#topic_bar:hover {
	overflow: visible;
	white-space: normal;
}

#topic_bar a,
#topic_bar span.channel {
	color: #ddd;
	border-color: #ddd;
}

#topic_bar a:hover {
	color: #ddd;
	border-color: #ddd;
}

/* Images */

.inlineImageCell {
	overflow: auto;
	display: block;
	margin-top: 6px;
	padding-bottom: 6px;
}

.inlineImageCell .image {
	display: inline-block;
	float: left;
	margin-right: 12px;
	min-width: 40px;
	max-width: 90%;
}

.inlineImageCell .closeButton { 
	cursor: pointer;
	border: 1px solid;
	display: inline-block;
	color: #606060;
	text-indent: 5px;
	margin-left: -20px;
	padding-right: 5px;
	position: absolute;
}

html[systemversion^="10.9"] .inlineImageCell .closeButton,
html[systemversion^="10.8"] .inlineImageCell .closeButton {
	line-height: 13px;
}

/* Remember Line */

div[id=mark] {
	clear: both;
	position: relative;
	z-index: 295;
	margin-top: -1px;
	border-bottom: 1px dashed;
	border-color: rgba(255, 255, 255, 0.3);
	-webkit-transition: 0.2s linear;
}

/* Historic Line */

.historic {
	opacity: 0.6;
}

/* NOTICE/CTCP/WALLOPS */

body div.line[ltype*=ctcp],
body div.line[ltype*=notice],
body div.line[ltype*=wallops] {
	color: #ba2624;
  	z-index: 191;
	background: rgba(220, 50, 47, 0.25);
  	position: relative;
 	padding: 0px 5px 0px 5px;
}

body div.line[ltype*=ctcp] a,
body div.line[ltype*=notice] a,
body div.line[ltype*=wallops] a {
	color: #ba2624;
	border-color: #ba2624;
}

body div.line[ltype*=ctcp] a:hover,
body div.line[ltype*=notice] a:hover,
body div.line[ltype*=wallops] a:hover {
	color: #cb4b16;
	border-color: #cb4b16;
}

body div[ltype*=notice] .sender {
	color: #cb4b16;
	font-weight: 400;
}

/* SELECTED USER MESSAGES */

.sender {
	cursor: pointer;
}

body div.line[ltype*=privmsg]:not(.selectedUser),
body div.line[ltype*=action]:not(.selectedUser) {
    transition-property: background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;
}

body div.line[ltype*=privmsg] .time:not(.selectedUser),
body div.line[ltype*=action] .time:not(.selectedUser) {
    transition: color 0.5s;
}

body div.line.selectedUser[highlight=false] .time {
    transition: color 0.5s ease-in;
	color: #888;
}

body div.line.selectedUser[highlight=false] {
    transition-property: background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;
  	z-index: 190;
  	position: relative;
  	background-color: rgba(255, 255, 255, 0.05) !important;
}

/* PRIVMSG */

body div.line[ltype*=privmsg][highlight=false] {
	padding: 0px 5px 0px 5px;
}

body div.line[ltype*=privmsg][highlight=true],
body div.line[ltype*=action][highlight=true] {
	font-weight: 400;
 	padding: 0px 5px 0px 5px;
  	background-color: #3D3430 !important;
}

body div[ltype*="privmsg"] .message {
	color: #9a9a9a;
}

body div[ltype*=privmsg][mtype*=myself] .message {
	color: #898989;
}

body div[ltype*=privmsg] .sender {
	font-weight: 400;
}

/* ACTION */

body div.line[ltype*=action] {
 	padding: 0px 5px 0px 5px;
}

body div[ltype*="action"] .message {
	color: #9a9a9a;
}

body div[ltype*=action] .sender {
	font-weight: 400;
	text-shadow: 0 0 2px;
}

body div[ltype*=action][mtype*=myself] .sender,
body div[ltype*=action][mtype*=myself] .message {
	color: #898989;
}

body[dir=ltr] div[ltype*=action] .sender:before {
	content: "\2022";
	margin-right: 0.5em;
}

body[dir=ltr] div[ltype*=action] .sender:after {
	content: "";
  	/* margin-right: 0.4em; */
}

body[dir=rtl] div[ltype*=action] .sender:before {
	content: "\2022";
	margin-left: 0.5em;
}

body[dir=rtl] div[ltype*=action] .sender:after {
	content: "";
  	/* margin-left: 0.4em; */
}

/* DEBUG/INVITE */

body div.line[ltype*=invite],
body div.line[ltype*=debug],
body div.line[ltype*=rawhtml],
body div.line[ltype*=dcc-file-transfer],
body div.line[ltype*=off-the-record-encryption-status] {
	color: #9a9a9a;
  	z-index: 190;
	background: rgba(255, 255, 255, 0.05);
  	position: relative;
 	padding: 0px 5px 0px 5px;
}

/* off-the-record-encryption-status Message Event */
body div.line[ltype*=off-the-record-encryption-status] .message {
	color: #ff0000;
	font-weight: 400;
}

/* Message of the Day (MOTD) */
/* 720, 721, 722 are used by ShadowIRCd for Oper MOTD. */
/* 372, 375, 376 are normal MOTD shared by several IRCds. */ 

body div.line[command="372"],
body div.line[command="721"] {
	border: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

body div.line[command="375"],
body div.line[command="720"] { /* Start. */
	border-bottom: none;
	padding-top: 2px;
	padding-bottom: 3px;
}

body div.line[command="376"],
body div.line[command="722"] { /* End. */
	border-top: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

body div.line[command="372"] .message,
body div.line[command="375"] .message,
body div.line[command="376"] .message 
body div.line[command="720"] .message,
body div.line[command="721"] .message,
body div.line[command="722"] .message {
	font-family: "Menlo" !important;
}

/* GENERAL EVENT */

body div.line[ltype*=join],
body div.line[ltype*=part],
body div.line[ltype*=kick],
body div.line[ltype*=quit],
body div.line[ltype*=kill],
body div.line[ltype*=nick],
body div.line[ltype*=mode],
body div.line[ltype*=topic],
body div.line[ltype*=website] {
 	padding: 0px 5px 0px 5px;
	color: #656565;
}

body[dir=ltr] div[ltype*=join] .message:before {
	content: "→";
  	color: #859900;
  	/* margin-right: 0.4em; */
}

body[dir=ltr] div[ltype*=kick] .message:before,
body[dir=ltr] div[ltype*=part] .message:before,
body[dir=ltr] div[ltype*=quit] .message:before {
	content: "←";
  	color: #dc322f;
  	/* margin-right: 0.4em; */
}

body[dir=ltr] div[ltype*=nick] .message:before {
	content:"•";
  	color: #859900;
  	/* margin-right: 0.4em; */
}

body[dir=rtl] div[ltype*=join] .message:before {
	content: "→";
  	color: #859900;
  	/* margin-left: 0.4em; */
}

body[dir=rtl] div[ltype*=kick] .message:before,
body[dir=rtl] div[ltype*=part] .message:before,
body[dir=rtl] div[ltype*=quit] .message:before {
	content: "←";
  	color: #dc322f;
  	/* margin-left: 0.4em; */
}

body[dir=rtl] div[ltype*=nick] .message:before {
	content:"•";
  	color: #859900;
  	/* margin-left: 0.4em; */
}

/* Nickname Colors */

body .inline_nickname {
	font-weight: 400;
}

body div[ltype*=privmsg] .sender[mtype*=myself] {
	color: #4271AE;
}

body .sender[mtype*=normal][colornumber='0'],
body .inline_nickname[colornumber='0'] {
	color: #d73737;
}

body .sender[mtype*=normal][colornumber='1'],
body .inline_nickname[colornumber='1'] {
	color: #F5871F;
}

body .sender[mtype*=normal][colornumber='2'],
body .inline_nickname[colornumber='2'] {
	color: #EAB700;
}

body .sender[mtype*=normal][colornumber='3'],
body .inline_nickname[colornumber='3'] {
	color: #718C00;
}

body .sender[mtype*=normal][colornumber='4'],
body .inline_nickname[colornumber='4'] {
	color: #3E999F;
}

body .sender[mtype*=normal][colornumber='5'],
body .inline_nickname[colornumber='5'] {
	color: #8959A8;
}

body .sender[mtype*=normal][colornumber='6'],
body .inline_nickname[colornumber='6'] {
	color: #F2777A;
}

body .sender[mtype*=normal][colornumber='7'],
body .inline_nickname[colornumber='7'] {
	color: #F99157;
}

body .sender[mtype*=normal][colornumber='8'],
body .inline_nickname[colornumber='8'] {
	color: #FFCC66;
}

body .sender[mtype*=normal][colornumber='9'],
body .inline_nickname[colornumber='9'] {
	color: #99CC99;
}

body .sender[mtype*=normal][colornumber='10'],
body .inline_nickname[colornumber='10'] {
	color: #66CCCC;
}

body .sender[mtype*=normal][colornumber='11'],
body .inline_nickname[colornumber='11'] {
	color: #CC99CC;
}

body .sender[mtype*=normal][colornumber='12'],
body .inline_nickname[colornumber='12'] {
	color: #D54E53;
}

body .sender[mtype*=normal][colornumber='13'],
body .inline_nickname[colornumber='13'] {
	color: #E78C45;
}

body .sender[mtype*=normal][colornumber='14'],
body .inline_nickname[colornumber='14'] {
	color: #E78C45;
}

body .sender[mtype*=normal][colornumber='15'],
body .inline_nickname[colornumber='15'] {
	color: #B9CA4A;
}

body .sender[mtype*=normal][colornumber='16'],
body .inline_nickname[colornumber='16'] {
	color: #70C0B1;
}

body .sender[mtype*=normal][colornumber='17'],
body .inline_nickname[colornumber='17'] {
	color: #C397D8;
}

body .sender[mtype*=normal][colornumber='18'],
body .inline_nickname[colornumber='18'] {
	color: #AC4142;
}

body .sender[mtype*=normal][colornumber='19'],
body .inline_nickname[colornumber='19'] {
	color: #D28445;
}

body .sender[mtype*=normal][colornumber='20'],
body .inline_nickname[colornumber='20'] {
	color: #F4Bf75;
}

body .sender[mtype*=normal][colornumber='21'],
body .inline_nickname[colornumber='21'] {
	color: #90A959;
}

body .sender[mtype*=normal][colornumber='22'],
body .inline_nickname[colornumber='22'] {
	color: #75B5AA;
}

body .sender[mtype*=normal][colornumber='23'],
body .inline_nickname[colornumber='23'] {
	color: #AA750F;
}

body .sender[mtype*=normal][colornumber='24'],
body .inline_nickname[colornumber='24'] {
	color: #CC6666;
}

body .sender[mtype*=normal][colornumber='25'],
body .inline_nickname[colornumber='25'] {
	color: #DE935F;
}

body .sender[mtype*=normal][colornumber='26'],
body .inline_nickname[colornumber='26'] {
	color: #F0C674;
}

body .sender[mtype*=normal][colornumber='27'],
body .inline_nickname[colornumber='27'] {
	color: #B5BD68;
}

body .sender[mtype*=normal][colornumber='28'],
body .inline_nickname[colornumber='28'] {
	color: #8ABEB7;
}

body .sender[mtype*=normal][colornumber='29'],
body .inline_nickname[colornumber='29'] {
	color: #B294BB;
}

body .sender[mtype*=normal][colornumber='30'],
body .inline_nickname[colornumber='30'] {
	color: #BBDAFF;
}

.effect[color-number='0'] {
	color: #D6D6D6 !important;
}
/* White */
/* .effect[color-number='1'] {
	color: #4D4D4C !important;
} */
/* blue (Navy) */
.effect[color-number='2'] {
	color: #4271AE !important;
}
/* Green */
.effect[color-number='3'] {
	color: #718C00 !important;
}
/* Red */
.effect[color-number='4'] {
	color: #C82829 !important;
}
/* Brown (Maroon) */
.effect[color-number='5'] {
	color: #DE935F !important;
}
/* Purple */
.effect[color-number='6'] {
	color: #8959A8 !important;
}
/* Orange */
.effect[color-number='7'] {
	color: #F5871F !important;
}
/* Yellow */
.effect[color-number='8'] {
	color: #EAB700 !important;
}
/* Light Green (Lime) */
.effect[color-number='9'] {
	color: #B9CA4A !important;
}
/* Teal (Green/Blue Cyan) */
.effect[color-number='10'] {
	color: #3E999F !important;
}
/* Light Cyan (Cyan) (Aqua) */
.effect[color-number='11'] {
	color: #66CCCC !important;
}
/* Light Blue (Royal) */
.effect[color-number='12'] {
	color: #7AA6DA !important;
}
/* Pink (Light Purple) (Fuchisia) */
.effect[color-number='13'] {
	color: #C397D8 !important;
}
/* Grey */
.effect[color-number='14'] {
	color: #8E908C !important;
}
/* Light Grey */
.effect[color-number='15'] {
	color: #C5C8C6 !important;
}

.effect[bgcolor-number='0'] {
	background-color: #D6D6D6 !important;
}

/* .effect[bgcolor-number='1'] {
	background-color: #4D4D4C !important;
} */

.effect[bgcolor-number='2'] {
	background-color: #4271AE !important;
}

.effect[bgcolor-number='3'] {
	background-color: #718C00 !important;
}

.effect[bgcolor-number='4'] {
	background-color: #C82829 !important;
}

.effect[bgcolor-number='5'] {
	background-color: #DE935F !important;
}

.effect[bgcolor-number='6'] {
	background-color: #8959A8 !important;
}

.effect[bgcolor-number='7'] {
	background-color: #F5871F !important;
}

.effect[bgcolor-number='8'] {
	background-color: #EAB700 !important;
}

.effect[bgcolor-number='9'] {
	background-color: #B9CA4A !important;
}

.effect[bgcolor-number='10'] {
	background-color: #3E999F !important;
}

.effect[bgcolor-number='11'] {
	background-color: #66CCCC !important;
}

.effect[bgcolor-number='12'] {
	background-color: #7AA6DA !important;
}

.effect[bgcolor-number='13'] {
	background-color: #C397D8 !important;
}

.effect[bgcolor-number='14'] {
	background-color: #8E908C !important;
}

.effect[bgcolor-number='15'] {
	background-color: #C5C8C6 !important;
}

/* Textual-Inline-Media tweaks */

video {
    margin-top: 6px;
	padding-bottom: 6px;
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;  
}

.inline_media_website,
.inline_media_youtube,
.inline_media_wiki,
.inline_media_xkcd {
	max-width: 600px;
    margin-top: 6px !important;
	margin-bottom: 6px !important;
    border-radius: 0px !important;
    padding: 2px !important;
	background: rgba(0, 0, 0, 0.15) !important;
}

.inline_media_xkcd {
	background: #fff !important;
}

.inline_media_twitter {
	width: 260px;
    margin-top: 0px !important;
    border-radius: 0px !important;
    padding: 0px !important;
	padding-left: 10px !important;
	background: rgba(28, 28, 28, 1) !important;
}

.inline_media_website_title,
.inline_media_youtube_title {
	-webkit-font-smoothing: none;
    font-weight: 400 !important;
    color: #FFBD59 !important;
	text-indent: 0px !important;
	padding: 12px 16px 12px 16px;
	margin-left: 0px !important;
}

.inline_media_wiki_title {
	-webkit-font-smoothing: none;
    font-size: 16px !important;
    color: #FFBD59 !important;
    font-family: "FixedsysExcelsiorIIIb-L2" !important;
	text-indent: 0px !important;
	padding: 12px 16px 12px 16px;
	margin-left: 0px !important;
}

.inline_media_website_desc,
.inline_media_wiki_desc p {
	-webkit-font-smoothing: none;
    color: #aaa !important;
    padding: 0px 16px 12px 16px;
    text-indent: 0px !important;
    margin-left: 0px !important;
}

.inline_media_youtube_author,
.inline_media_youtube_views {
	-webkit-font-smoothing: none !important;
    color: #aaa !important;
    font-size: 16px !important;
	padding: 0px 16px 0px 16px;
}

.inline_media_website_thumbnail,
.inline_media_youtube_thumbnail,
.inline_media_wiki_thumbnail {
    max-width: 250px !important;
    max-height: 250px !important;
    margin-right: 0px !important;
	margin-bottom: auto;
}

.inline_media_youtube_thumbnail > img {
    max-width: 250px !important;
    max-height: 140px !important;
}

.inline_media_youtube_thumbnail > span {
    height: 17px !important;
    line-height: 17px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
	text-indent: 0px;
	-webkit-font-smoothing: none;
}

.inline_media_xkcd_title {
    font-size: 100% !important;
	font-weight: 400;
	-webkit-font-smoothing: none;
	color: #000;
	padding-left: 7px;
	margin: 5px !important;
}

.inline_media_xkcd_image {
	max-width: 600px;
}